a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: gray;
  }
  
  .componente2{
    background: rgb(34, 178, 70);
    color: rgb(7, 41, 28);
    width: 70%;
    margin: auto;
    border: 2px solid rgb(20, 1, 1);
    border-radius: 10px;
    padding: 5px;
  }
  
  .btn {
    width: 100px;
  background: darkgreen;
  color: whitesmoke;
  padding: 5px;
  border: 2px;
  border-radius: 10px;
  margin: 5px;
  }